/************************************************
/* RESTE MEYER
************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
/************************************************
/* FIN RESTE MEYER
************************************************/
body {
  margin: 10px auto;
  min-width: 350px;
  max-width: 950px;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  background-repeat: repeat;
  color: #ffffff;
}
/*  HEADER */
hgroup h1 a {
  width: 150px;
  height: 150px;
}
/*  CONTENT */
#content {
  border-radius: 5px 5px 5px 5px;
}
#content #left {
  float: left;
  width: 60%;
  margin-right: 5%;
}
#content #right {
  width: 30%;
  display: inline-block;
}
#left header {
  width: 180px;
  height: 50px;
  background-image: url("../img/vignetteLeft.png");
  background-repeat: no-repeat;
}
#content h2 {
  font-size: 1.5em;
  font-family: 'Raleway Dots', cursive;
  padding: 0.5em;
  color: black;
}
p {
  color: black;
}
nav {
  background-image: url("../img/banniereNav.png");
  height: 150px;
  width: 900px;
  position: relative;
  margin-left: 0.25em;
}
nav li {
  width: 100px;
  height: 25px;
  float: left;
  margin-right: 2em;
  text-align: center;
  border-radius: 2px;
  padding: 0.5em 0.5em 0 0.5em;
  margin-top: 67px;
}
li#aboutNav {
  margin-left: 100px;
}
li#portfolioNav {
  margin-left: 170px;
}
nav a {
  color: #f5f5f5;
  text-decoration: none;
  text-shadow: 2px 2px #1C1A1B;
  font-family: 'Krona One', sans-serif;
  font-weight: lighter;
  font-size: 1.25em;
}
nav a:active {
  text-shadow: none;
}
section#content {
  margin-bottom: 2em;
}
section h1,
div h1 {
  font-family: 'Krona One', sans-serif;
  font-size: 2em;
  padding: 1em 0 0.5em 1.5em;
}
article p {
  text-align: justify;
  margin: 0 1em 0 1em;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: lighter;
  line-height: 1.25em;
}
li p {
  margin: 0;
}
section.info {
  background-image: url("../img/bkgSection.png");
  background-repeat: no-repeat;
  width: 570px;
  height: 600px;
}
/* FOOTER */
footer {
  width: 950px;
}
#copy {
  float: left;
  color: #f5f5f5;
  font-size: 1em;
  margin-right: 5em;
  font-weight: lighter;
}
#social {
  float: right;
  margin-right: 2.5em;
}
#social li {
  float: left;
  margin-right: 1em;
  width: 16px;
  height: 16px;
}
#social li#twitter {
  background-image: url("../img/favicon-twitter.png");
}
#social li#google {
  background-image: url("../img/favicon-google.png");
}
#social li#linkedin {
  background-image: url("../img/favicon-linkedin.png");
}
#social li a {
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
}
/* ABOUT */
#about {
  background-image: url('../img/paperY.jpg');
}
nav li#aboutNav {
  background-image: url("../img/paperY.jpg");
}
#content #right img {
  float: right;
}
#about nav {
  margin-left: 0;
}
#about section#content {
  border-top-left-radius: 0;
  display: inline-block;
}
#about article div {
  padding: 2em 0 0 7em;
}
.skills {
  float: left;
  width: 200px;
  font-weight: bold;
  font-family: 'Raleway Dots', cursive;
}
.skills + p {
  text-align: right;
}
#aboutP {
  background-image: url('../img/bkgAbout.png');
  background-repeat: no-repeat;
  margin-top: 0.25em;
  padding: 4em 3.25em 4em 4em;
}
div li {
  display: block;
}
p.experience,
p.middle,
p.start {
  background-image: url("../img/bouton.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 125px;
  float: left;
}
p.experience {
  background-position: -25px 0;
}
p.middle {
  background-position: -50px 0;
}
p.start {
  background-position: -75px 0;
}
li p a {
  display: block;
  visibility: hidden;
}
/* BLOG */
#blog {
  background-image: url('../img/paperG.jpg');
}
nav li#blogNav {
  background-image: url("../img/paperG.jpg");
}
.read {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 1em;
}
#blog article#right {
  height: 550px;
}
#blog #left li {
  list-style: disc;
  color: black;
  margin-left: 2em;
}
#right ul {
  text-align: right;
}
#right li {
  line-height: 1.5em;
  font-weight: lighter;
}
.title {
  font-weight: bold;
  line-height: 1.5em;
}
li p + p {
  font-style: italic;
}
/* PORTEFOLIO */
body#portfolio {
  background-image: url('../img/paperB.jpg');
}
nav li#portfolioNav {
  background-image: url("../img/paperB.jpg");
}
div#gallery ul {
  display: inline-block;
  width: 100%;
}
div#gallery li {
  float: left;
  margin: 1em;
  width: 200px;
}
#gallery li p {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: lighter;
  color: #f5f5f5;
  font-size: 0.75em;
  font-style: italic;
  margin: 0.25em;
}
#gallery > p {
  font-family: 'Raleway Dots', cursive;
  font-size: 1.25em;
  color: #f5f5f5;
  padding: 1.5em;
}
/*  CONTACT */
#contact {
  background-image: url('../img/paperR.jpg');
  border-radius: 5px 5px 5px;
  margin-bottom: 2em;
}
nav li#contactNav {
  background-image: url("../img/paperR.jpg");
}
#contact #left {
  width: 35%;
  margin-right: 10%;
}
#contact #right {
  width: 50%;
}
#left p {
  line-height: 2em;
}
strong {
  font-weight: bold;
}
#contact p a {
  color: black;
}
form {
  margin-bottom: 1em;
}
input {
  margin: 0.5em 0 1em 0;
}
label {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  font-weight: bold;
}
